# Arquivos auxiliares do LaTeX
Monografia_config.aux
Monografia_config.bbl
Monografia_config.blg
Monografia_config.brf
Monografia_config.fdb_latexmk
Monografia_config.fls
Monografia_config.idx
Monografia_config.ilg
Monografia_config.ind
Monografia_config.lof
Monografia_config.log
Monografia_config.lot
Monografia_config.pdf
Monografia_config.synctex.gz
Monografia_config.toc
Capitulos/*.aux
*.out
*.toc
*.log
*.synctex.gz
*.fdb_latexmk
*.fls
*.bbl
*.blg
*.brf
*.ilg
*.ind
*.lof
*.lot
*.idx
*.pdf

# Diretórios diversos não rastreados: 
fontes/fontes_absolutas
/.github
fontes/recursos_ifms/Caio/*.md
fontes/recursos_ifms/Laurentino/*.md

# Prompt de pesquisa

Rascunho.md
resenha_model.md